@media only screen and (max-width:1140px)
{
    .main-header .main-box{
        position:relative;
        margin:0!important;
    }
    .page-title{
        padding:80px 0;
    }
    .main-menu .navigation>li{
        margin:0 5px;
    }
    .main-menu .navigation>li>a{
        padding-left:8px;
        padding-right:8px;
    }
    .page-wrapper{
        overflow:hidden;
    }
    .callme{
        left:0!important;
        display:block!important;
    }
    .services-style-two{
        padding:80px 30px 50px 30px!important;
    }
    .cart-table tbody tr .prod-column .column-box,
    .cart-table tbody tr .prod-column .column-box h3{
        padding-top:5px!important;
    }
    .events-section .schedule-box{
        overflow-x:auto;
        overflow-y:hidden;
    }
    .events-section .events-table .event-hover-popup{
        bottom:auto;
        top:60px;
    }
    .events-section .events-table .event-hover-popup:after
    {
        content:'\f0d8';
        position:absolute;
        left:50px;
        bottom:auto;
        top:-13px;
        font-size:32px;
        color:#fff;
    }
    .events-section .events-table .table-cell:hover .event-hover-popup
    {
        margin:0
    }
    .events-section .events-header h2
    {
        margin-bottom:30px;
    }
}
@media only screen and (min-width:320px)
{
    .callme{
        top:93%!important;
        padding:2px 93px!important;
    }
}
@media only screen and (min-width:1025px)
{
    .hidden-bar.right-align.visible-sidebar{
        right:-400px!important;
    }
}
@media only screen and (min-width:768px)
{
    .main-menu .navigation>li>ul,
    .main-menu .navigation>li>ul>li>ul{
        display:block!important;
        visibility:hidden;
        opacity:0;
    }
}
@media only screen and (max-width:1023px){
    .main-header .main-box .logo-box{
        position:relative;
        left:0;top:0;
        right:0;
        bottom:0;
        width:200px;
        margin:0;
        text-align:left;
    }
    .main-header .main-box .outer-container{
        padding-left:0;
    }
    .main-header .nav-outer,.nav-outer .main-menu{
        display:none;
    }
    .main-header .nav-toggler{
        display:block;
    }
    .fluid-section-one .video-column .video-box .image
    {
        display:block;
    }
    .fluid-section-one .video-column,
    .fluid-section-one .video-column .video-box
    {
        position:relative;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background:0 0;
        width:100%;
    }
    .fluid-section-one .column{
        width:100%;
        max-width:none;
    }
    .fluid-section-one .content-column .content-outer{
        width:100%;
        max-width:none;
    }
    .carousel-caption{
        left:148px;
        width:52%;
    }
    .carousel-caption h1{
        font-size:20px;
    }
    .carousel-caption h2{
        font-size:16px!important;
    }
    .sec-title h2{
        font-size:20px;
    }
    .gallery-single-post .info-column{
        padding-left:15px;
    }
    .sidebar-page-container .blog-section{
        padding-right:0!important;
    }
    .sidebar-side .sidebar{
        padding-left:0;
    }
    .two-col-fluid .content-column,
    .two-col-fluid .image-column{
        width:100%;
        position:relative;
    }
    .two-col-fluid .image-column{
        background:0 0!important;
    }
    .two-col-fluid .image-column .image-box{
        display:block;
    }
    .two-col-fluid .content-column .inner-box{
        max-width:none;
        padding:50px 15px 30px;
    }
}

@media only screen and (max-width:767px){
    .main-header .header-top .top-right ul.info-nav{
        float:none;
        left:-10px;
    }
    .header-upper .logo-outer{
        position:relative;
        left:0;top:0;
        right:0;bottom:0;
        width:100%;
        margin:0;
    }
    .default-portfolio-item.masonry-item.big-item,
    .default-portfolio-item.masonry-item.small-item{
        width:100%;
    }
    .main-header .header-top .top-left ul li,
    .main-header .header-top .top-right ul li{
        margin:0 10px;
    }
    .main-slider .tp-caption{
        display:none!important;
    }
    .main-header .header-top .top-left .dropdown{
        max-width:170px;
        margin:0 auto;
    }
    .main-header .header-top .top-left{
        width:100%;
        text-align:center;
    }
    .main-header .header-top .top-right{
        width:100%;
        text-align:center;
    }
    .header-top .social-icon,
    .header-top .top-right ul,
    .main-header .header-top .top-left ul,
    .main-header .header-top .top-right ul{
        text-align:center;
        width:100%;
        margin:10px 0;
        padding:0;
    }
    .news-style-one .image-column{
        margin-bottom:25px;
    }
    .main-footer .footer-bottom .pull-left,
    .main-footer .footer-bottom .pull-right{
        width:100%;
        text-align:center;
    }
    .main-footer .footer-nav li{
        margin:5px 10px;
    }
    .appt-section .title-box h2,
    .cart-section .sec-title h2,
    .newsletter-style-one .title-column h2,
    .project-details h2,
    .sec-title h2,
    .sec-title.medium h2,
    .sidebar-page-container .sec-title h2{
        font-size:24px;
    }
    .rsp{
        font-size:25px!important;
    }
    .callme{
        top:94%!important;
        padding:0 113px!important;
    }
    .niv{
        font-size:13px;
    }
    .top-left{
        display:none;
    }
    .tp-caption{
        padding-left:15px!important;
    }
    .foop{
        font-size:12px;
    }
    .toof{
        display:none;
    }
    .page-info .pull-left,
    .page-info .pull-right{
        width:100%;
    }
    .products-section .shop-upper-box .items-label,
    .products-section .shop-upper-box .sort-by{
        width:100%;
        margin:0;
    }
    .prod-tabs .reviews-container .rev-header .rating,
    .prod-tabs .reviews-container .rev-header h4{
        font-size:14px;
    }
    .prod-tabs .add-review .rating li::after{
        display:none;
    }
    .prod-tabs .add-review .rating li{
        display:block;
        margin:0 10px 0 0;
    }
}
@media only screen and (max-width:411px){
    .callme{
        top:94%!important;
        padding:6px 123px!important;
    }
    .callimg{
        display:block!important;
    }
    .niv{
        color:#fff;
        text-align:center;
        top:7px;
        margin-top:6px;
        display:block;
        left:-12px;
        margin-left:10px;
        font-size:10px;
    }
}

@media only screen and (max-width:360px){
    .callme{
        top:94%!important;
        padding:6px 124px!important;
    }
    .callimg{
        display:block!important;
    }
    .niv{
        color:#fff;
        text-align:center;
        top:7px;
        margin-top:6px;
        display:block;
        left:-12px;
        margin-left:10px;
        font-size:10px
    }
}

@media only screen and (max-width:414px){
    .callimg{
        display:block!important;
    }
}

@media only screen and (max-width:599px){
    .prod-tabs .reviews-container .review-box{
        padding:15px 20px;
    }
    .prod-tabs .reviews-container .rev-thumb{
        position:relative;
        left:0;
        top:0;
        margin-bottom:20px;
    }
    .contact-section .info-tabs .tab-btn,
    .prod-tabs .tab-btns .tab-btn{
        display:block;
        float:none;width:100%;
        margin:0 0 10px;
        text-align:center;
    }
    .sidebar-page-container .comments-area .reply-comment{
        margin-left:0;
    }
    .cart-section .coupon-outer .pull-left,
    .cart-section .coupon-outer .pull-right{
        width:100%;
    }
    .cart-section .coupon-outer .apply-coupon .form-group{
        margin:0 0 15px;
        width:100%;
    }
    .cart-section .coupon-outer .apply-coupon .form-group input[type=text]{
        width:100%;
    }
    .cart-section .coupon-outer .theme-btn{
        width:100%;
        display:block;
        margin:0 0 10px;
    }
    .gallery-section .filters li{
        border:1px solid #e0e0e0!important;
        display:block;margin:0 0 10px;
    }
    .gallery-section .filters .filter-tabs{
        display:block;
        margin:0 0 10px;
        border:none;
    }
    .news-style-one blockquote{
        margin-left:0;
    }
    .blog-details .post-bottom .share-options strong{
        display:block;
    }
    .blog-details .post-bottom .post-controls{
        padding-top:10px;
        width:100%;
    }
    .blog-details .post-bottom .post-controls li{
        margin:0 20px 0 0;
    }
    .icon-column-default .inner-box{
        padding:0;
        text-align:center;
    }
    .icon-column-default .inner-box .icon-box,.testimonials-section .slide-item .author-thumb{
        position:relative;
        left:0;top:0;
        margin:0 auto 25px;
    }
    .testimonials-section .slide-item .slide-header{
        padding:30px 20px;
        text-align:center;
    }.testimonials-section .slide-item .slide-content{
        padding:15px 20px;
        text-align:center;
    }
    .featured-service .overlay-box .icon-box{
        display:none;
    }
    .featured-service .overlay-box .overlay-inner{
        padding-left:30px;
        text-align:center;
    }
    .team-section .team-thumbs-carousel{
        padding-right:150px;
    }
    .events-section .events-table .event-hover-popup{
        width:270px;
        height:350px;
        overflow:auto;
    }
    .events-section .events-table .event-hover-popup .upper-content .image{
        margin:0 0 20px;
        float:none;
        width:100%;
    }
    .events-section .events-table .event-hover-popup .upper-content .image img{
        width:100%;
    }
}
@media only screen and (max-width:499px){
    .main-header .main-box .logo-box .logo img{max-width:70%}
    .page-title{
        position:relative;padding:50px 0 90px;
        background-size:auto;
        background-size:1000px;
        height:220px!important;
        text-align:left;
        background-image:url(/static/images/background/banner_.png)}
    .main-header .nav-toggler{
        right:60px;
    }
    .mobile_blog_filter{
        display:inline-flex!important;
    }
    .plat{
        text-align:center;
        margin-left:0;
        padding-top:10px;
        padding-left:0;
    }
    .carousel-caption{
        width:100%;
        left:15px;
        padding-top:21px;
        display:inline-flex;
    }
    .circular--portrait img{
        height:400px!important;
        width:400px!important;
    }
    .rbn{
        height:63px;
    }
    .banner_index{
        height:230px!important;
    }
    .banner_index .carousel-inner{
        height:230px!important;
    }
    .banner_index .carousel-inner img{
        height:230px!important;
    }
    .main-header .nav-toggler{
        right:60px;
    }
    .carousel-caption h2{
        font-size:11px!important;
    }
    .carousel-caption h1{
        font-size:14px!important;
    }
    .ov{
        display:inline-block!important;
    }
    .footer-social-links{
        display:none;
    }
    .plat{
        text-align:center;
        margin-left:0;
        padding-top:10px;
        padding-left:0;
    }
    .testimonial{
        margin-bottom:30px;
    }
    .cyb{
        width:150px;
    }
    .hero-description h4{
        text-align:center;
    }
    .hero-description h4 img{
        margin-left:0;
    }
    .page-title h1{font-size:24px}
    .prod-tabs .tabs-container .tab{padding:20px 0}
    .blog-details .comments-area .comment .comment-inner,
    .post-details .comments-area .comment .comment-inner,
    .sidebar-page-container .comments-area .reply-comment{
        padding-left:0;
    }
    .blog-details .post-author .inner-box{
        padding:20px;
    }
    .blog-details .post-author .inner-box .author-thumb{
        position:relative;
        left:0;
        top:0;
        margin-bottom:20px;
    }
    .sidebar-page-container .comments-area .comment-box .author-thumb{
        position:relative;
        left:0;top:0;
        margin-bottom:20px;
    }
    .accordion-box .block .content .image{
        margin:0 0 20px;float:none;
        width:100%;
    }
    .accordion-box .block .content .image img{
        display:block;
        width:100%;
    }
    .post-details .gallery-controls .next-btn,
    .post-details .gallery-controls .prev-btn{
        min-width:0;
        padding:8px 20px;
    }
}
